* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto 50%;
    grid-template-rows: 80px 80px 80px;
    background-color: #fff1a9;
    padding: 10px;
}

.grid-container>div {
    border: none;
    border-radius: 4px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: red;
}

.item2 {
    background-color: #2700b2;
}

.item3 {
    background-color: #097611;
}

.item4 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #870077;
}

.item5 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #fee600;
}